/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&display=swap');


/* Colour variables */
:root {
  --primary-font-color: #ded9d9;
  --secondary-font-color: #b5b5b5;
}

/* Master styles */
* {
  z-index: 5;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background: url('./jr-korpa-_OQ8Jc7kBmA-unsplash.jpeg');
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Overlay styles */

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background: rgb(0, 0, 0);
  opacity: 0.5;
  z-index: 2;
}

/* Navbar Styles */

.navbar {
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.the-blur {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 50px;
  margin-bottom: 0px;
  background: rgb(0, 0, 0);
  /* -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px); */
  filter: blur(30px);
  z-index: -1;
}

.left .router {
  display: flex;
}

.left .router .router-item {
  list-style: none;
  margin-right: 19px;
}

.left .router .router-item a {
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  font-size: 20px;
  display: inline-block;
  position: relative;
  color: var(--primary-font-color);
}

.router-item a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0px;
  left: 0px;
  background-color: var(--primary-font-color);
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.router-item a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.right {
  margin: auto 32px;
}

.right .branding {
  text-transform: uppercase;
  color: var(--primary-font-color);
  transition: 0.2s ease-in;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.right .branding:hover {
  color: var(--secondary-font-color);
  border-bottom: var(--secondary-font-color) 1px solid;
}